{% extends 'base-back.html.twig' %}





{% block body %}
<br><br><br><br><br><br>
<br><br><br>

<center>
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header">Create new Event</div>
 
</div>


<br><br>






    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(form) }}
     {{ include('event/_form.html.twig') }}
    {{ form_end(form) }}


    <a href="{{ path('event_index') }}">back to list</a>


</center>
{% endblock %}



