{% extends 'base-back.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event.Name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ event.lieu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
               
                <td ><img src="{{ asset('Uploads/image/' ~event.picture) }}" style="width: 60px" style="height:60px"></td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">back to list</a>
    <br> <br>
    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
    <br> 

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
