


{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<div class="contact-form">

    <div class="contact-to">
        {{ form_widget(form.name,{'attr': {'class': 'string' , 'placeholder' : 'Name'}}) }}
    </div>
    <br>
    <div class="text2">
        {{ form_widget(form.description,{'attr': {'class': 'text' , 'placeholder' : 'Description'}}) }}
    </div>


 <br>
  <br>
   
<span>    <button class="btn btn-outline-dark">{{ button_label|default('Create New Category') }}</button></span>
     
   
</div>
 
{{ form_end(form) }}